# Interface/Port for Express to listen on
EXPRESS_PORT="80"
EXPRESS_HOST="0.0.0.0"
# Redis instance to connect to
REDIS_HOST='localhost'
# MongoDB instance to connect to
MONGO_HOST='localhost'
MONGO_USER='root'
MONGO_PASSWORD='example'
NODE_ENV='development'
# To generate session secret
# require('crypto').randomBytes(64).toString('hex')
SESSION_SECRET=''
# Nutritionx API key
APP_ID=''
APP_KEY=''
# A unique identifier to represent the end-user who is accessing the Nutritionix API.  
# If in development mode, set this to 0.  This is used for billing purposes to 
# determine the number of active users your app has.
REMOTE_USER_ID='0'