<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Tim's Site About Nothing"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://localhost"/>
        <meta property="og:image" content="https://pbs.twimg.com/profile_images/1364633178128994304/yM-RJE7U_400x400.jpg"/>
        <meta property="og:description" content="Express.js app built with <3."/>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>
            {% if title %}{{ title }}
            {% else %}Nooch{% endif %}
        </title>
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>

</html>